<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <%= link_to image_tag ("2013.jpg"), class: "img-fluid", alt: "" %>
<!--          <div class="portfolio-box-caption">-->
<!--            <div class="portfolio-box-caption-content">-->
<!--              <div class="project-category text-faded">-->
<!--                2013 Project-X-->
<!--              </div>-->
<!--              <div class="project-name">-->
<!--                The beginning of Project-X-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <%= link_to image_tag ("2014.jpg"), class: "img-fluid", alt: "" %>
<!--          <div class="portfolio-box-caption">-->
<!--            <div class="portfolio-box-caption-content">-->
<!--              <div class="project-category text-faded">-->
<!--                2014 Project-X-->
<!--              </div>-->
<!--              <div class="project-name">-->
<!--               2 Years Old Project-X-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <%= link_to image_tag ("2015.JPG"), class: "img-fluid", alt: "" %>
<!--          <div class="portfolio-box-caption">-->
<!--            <div class="portfolio-box-caption-content">-->
<!--              <div class="project-category text-faded">-->
<!--                2015 Project-X-->
<!--              </div>-->
<!--              <div class="project-name">-->
<!--                3 Years Old Project-X-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <%= link_to image_tag ("20151.jpg"), class: "img-fluid", alt: "" %>
<!--          <div class="portfolio-box-caption">-->
<!--            <div class="portfolio-box-caption-content">-->
<!--              <div class="project-category text-faded">-->
<!--                2015 Project-X-->
<!--              </div>-->
<!--              <div class="project-name">-->
<!--                3 Years Old Project-X-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <%= link_to image_tag ("20152.jpg"), class: "img-fluid", alt: "" %>
          <!--          <div class="portfolio-box-caption">-->
          <!--            <div class="portfolio-box-caption-content">-->
          <!--              <div class="project-category text-faded">-->
          <!--                2015 Project-X-->
          <!--              </div>-->
          <!--              <div class="project-name">-->
          <!--                3 Years Old Project-X-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <%= link_to image_tag ("20141.jpg"), class: "img-fluid", alt: "" %>
          <!--          <div class="portfolio-box-caption">-->
          <!--            <div class="portfolio-box-caption-content">-->
          <!--              <div class="project-category text-faded">-->
          <!--                2015 Project-X-->
          <!--              </div>-->
          <!--              <div class="project-name">-->
          <!--                3 Years Old Project-X-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </a>
      </div>
    </div>
  </div>
</section>